body{
    text-align:center;
    background: rgb(62,3,93);
    background: linear-gradient(90deg, rgba(62,3,93,1) 0%, rgba(225,161,233,1) 50%, rgba(62,3,93,1) 100%);  
}

/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    border:10px solid rgba(246, 208, 255, 0.481);
    padding:10px;
    outline:none;
    display:inline-block;
 }
 .search-bar{
    width:80%;
    margin-top:100px;
    border-radius:15px;
 }
 .submit-button{
    width:15%;
    background:#000;
    color:#FFF;
    border-radius:15px;
 }
 .bookmarks a{
    text-decoration: none;
 }
 .bookmarks{
    padding:30px;
    clear:both;
 }
 .bookmarks i{
    font-size:42px;
    margin:0 20px;
    color:#000000;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks i:hover{
    font-size:72px;
    position:relative;
 }
.circle{
    height:350px;
    width:350px;
    background-image:url("https://lh3.googleusercontent.com/a/ACg8ocKG2QcuFmXVAWRe-bLG4GlxTAwmGmdB0AePECGWsdFTajVEydk=s576-c-no");
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:50%;
    margin: 0 auto;
    position:relative;
    border: black 15px solid
}
h1{
   font-size:75px;
   font-family: "Montserrat", serif;
   font-optical-sizing:auto;
   font-weight: <weight>;
   font-style:normal;
   letter-spacing:-4px;
   color:black;
}
h2{
   font-size:25px;
   color:black;
   font-family: "Montserrat", serif;
   font-optical-sizing:auto;
   font-weight: <weight>;
   font-style:normal;
   letter-spacing:2px;
}
<script src="myScripts.js"></script>
</body>


/*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#calc{
 opacity:0;
 }
 /*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#note{
   width:250px;
   height:250px;
   resize: none;
   background:#F3F19D;
   padding:15px;
   border:none;
   position: absolute;
   bottom:50px;
   left:50px;
   font-family:sans-serif;
   opacity:0;
  }

  